/*Styles from top*/
*{
    font-family: Candara;
    font-weight: normal;
    font-size: 1.2em;
}

table {
    border: 10px solid #000;
    padding: 5px;
}

#title {
    background-color: #000;
    color: #FFF;
    font-weight: bolder;
    padding: 8px;
}

td {
    background-color: blue;
    padding: 15px 40px;
    border-radius: 0.2em;
    text-align: center;
    font-weight: bolder;
    cursor: normal;
}

#result{
    border: 2px solid #000;
    padding: 15px 40px;
    text-align: right;
    font-weight: bolder;
}